<!-- <section className="traditional-pizzas">
  <h1 className="traditional-pizzas-title">Traditional Pizzas</h1>
  <article className="traditional-pizzas-section">

    <ul className="traditional-pizzas-list">
      {pizzaItem.length > 0 && pizzaItem.map(pizza=> <li key={pizza._id}><PizzaCard
      pizza={pizza}/></li>) }
    </ul>
  </article>
</section> -->

<section class="traditional-pizzas">
  <article
    *ngFor="let pizza of traditionalPizzas"
    class="pizze-tradizionali margherita"
  >
    <article class="img">
      <img src="{{ pizza.imageUrl }}" alt="img-margherita" />
    </article>
    <article class="info">
      <h5 class="price">{{ pizza.price }} $</h5>
      <h3 class="pizza-name">{{ pizza.name }}</h3>
      <p class="description">{{ pizza.ingredients }}</p>
      <a href="/pizza-margherita/more">Add</a>
    </article>
  </article>
 
</section>
