<header class="header">
  <a routerLink="/" class="title-link">
    <h1 class="title">Pizza is <span class="italy">Italy</span></h1>
  </a>
  <nav class="navigation">
    <ul class="nav-list">
      <section class="welcome">
        <li class="list-item">
          <i class="fa-solid fa-house"></i>
          <a routerLink="/" class="nav-link"> Welcome </a>
        </li>
      </section>
      <section class="user-navigation">
        <li class="list-item">
          <i class="fa-solid fa-caret-down"></i>
          <a routerLink="/catalog" class="nav-link drop-down"> Our Menu </a>
        </li>
        <li class="list-item">
          <i class="fa-solid fa-comments"></i>
          <a routerLink="/clientsPizzas" class="nav-link"> Clients catalog </a>
        </li>

        <li *ngIf="!isLoggedIn" class="list-item">
          <i class="fa-solid fa-right-to-bracket"></i>
          <a routerLink="/register" class="nav-link"> Register </a>
        </li>

        <li *ngIf="!isLoggedIn" class="list-item">
          <i class="fa-solid fa-right-to-bracket"></i>
          <a routerLink="/login" class="nav-link"> Login </a>
        </li>

        <li *ngIf="isLoggedIn" class="list-item">
          <i class="fa-solid fa-right-to-bracket"></i>
          <a (click)="logout()" class="nav-link"> Logout </a>
        </li>
        <li *ngIf="isLoggedIn" class="list-item">
          <a routerLink="/cart" class="nav-link">
            <i class="fa-solid fa-cart-arrow-down"></i>
            Cart
          </a>
        </li>


        <li *ngIf="isLoggedIn" class="list-item">
          <a routerLink="/profile" class="nav-link">
            {{ username }}
          </a>
          <i class="fa-solid fa-user"></i>
        </li>

      </section>
    </ul>
  </nav>
</header>

<!-- <router-outlet></router-outlet> -->
