<section class="presentation">
  <h3 class="title-info-about">
    The emerging young people of the Pizzeria <span>Pizza is Italy</span>
  </h3>
  <article class="about-us">

      <article class="about-francesco-description">
        <h4> Francesco Di Rosa</h4>
        <p class="about-us-paragraph">
        <img
          src="../../../assets/images/francesco.webp"
          alt="img-neap"
          class="pizza-n-f"
        />
          A Neapolitan pizza with a pronounced and faithful to the cornice
          tradition: it is Francesco Di Rosa's pizza. The curiosity for the
          baking has always been in the blood of Francesco, who has
          abandoned his previous job to devote himself to
          training as a pizza chef. After various experiences around
          Italy, six years ago Francesco decided to open his own
          activity in Sicignano degli Alburni, where he brought and made
          know the Neapolitan pizza. That's where the
          31 years old Francesco takes the ingredients for his pizza:
          local and quality ingredients. With type 0 flour and
          indirect doughs, simple ingredients and a lot of passion,
          Francesco tries to bring all the flavors of his to customers
          mountain village, reinventing itself every day. A pizza yes
          faithful to tradition, but without neglecting innovation.
        </p>
      </article>

      <article class="about-milena-description">
        <h4>Milena Natale</h4>
        <p class="about-us-paragraph">
        <img
          src="../../../assets/images/milena.webp"
          alt="img-neap"
          class="pizza-n-m"
        />
         Verdevasinicola was born from a dream and from the determination of
          Milena Natale, pizza chef from Caserta who wants to tell the story
          tradition of "pizza a libretto" around Italy with a
          Traveling ape car. Over the years the concept has evolved and has
          led to the opening of stable premises. Today Verdevasinicola yes
          is established at the gates of Cilento. The heart of Verdevasinicola
          the pizza of excellence remains: it is impossible not to try the dough
          special of Milena Natale and savor the scent of
          tradition that meets modernity, all rigorously
          accompanied by the smell of fresh basil. Milena offers a
          refined but traditional cuisine and a pizza closer and closer
          to the flavors of the territory. From the ingredients to the style of
          local, every detail is sought in quality and cared for
          the smallest details. It is amazing to see the energy that Milena,
          mother of two girls, female pizza maker, "female" - like her yes
          describes on his website online - he takes in carrying every day
          passion in the dishes and in the dining room.
        </p>
      </article>
    </article>

</section>

