<section id="edit-editedPizza" class="auth">
  <form id="edit" #form="ngForm" (ngSubmit)="editPizzaSubmitHandler(form)">
    <div class="container">
      <h1>Edit Your Pizza</h1>
      <label for="title-Pizza">Pizza name:</label>
      <input
        type="text"
        id="title-Pizza"
        name="name"
        placeholder="Enter editedPizza name..."
        value=""
        [(ngModel)]="pizzaEdit.name"
        ngModel
        #inputName="ngModel"
        required
        minlength="3"
      />

      <ng-container *ngIf="inputName.touched">
        <p class="error" *ngIf="inputName.errors?.['required']">
          Name is required!
        </p>
        <p class="error" *ngIf="inputName.errors?.['minlength']">
          Name has to be at least 3 characters long!
        </p>
      </ng-container>
      <label for="editedPizza-img">Image:</label>
      <input
        type="text"
        id="imageUrl"
        name="imageUrl"
        placeholder="Upload a photo..."
        value=""
        [(ngModel)]="pizzaEdit.imageUrl"
        ngModel
        #inputImage="ngModel"
        required
      />
      <ng-container *ngIf="inputImage.touched">
        <p class="error" *ngIf="inputImage.errors?.['required']">
          Image is required!
        </p>
      </ng-container>
      <label for="ingredients">Your Ingredients</label>
      <textarea
        [(ngModel)]="pizzaEdit.ingredients"
        ngModel
        #textareaInputIngredients="ngModel"
        name="ingredients"
        value=""
        id="ingredients"
        type="text"
        placeholder="Enter your ingredients..."
        required
        minlength="10"
      ></textarea>

      <ng-container *ngIf="textareaInputIngredients.touched">
        <p class="error" *ngIf="textareaInputIngredients.errors?.['required']">
          Describe ingredients!
        </p>
        <p class="error" *ngIf="textareaInputIngredients.errors?.['minlength']">
          Description has to be at least 10 characters long!
        </p>
      </ng-container>
      <label for="notes">Notes:</label>
      <textarea
        name="notes"
        id="notes"
        value=""
        [(ngModel)]="pizzaEdit.notes"
        ngModel
        #textareaInputNotes="ngModel"
      ></textarea>
      <label for="price">Price:</label>
      <input
        type="number"
        id="price"
        name="price"
        min="4"
        max="30"
        placeholder="price"
        value=""
        [(ngModel)]="pizzaEdit.price"
        ngModel
        #inputPrice="ngModel"
        required
      />
      <span>$</span>
      <ng-container *ngIf="inputPrice.touched">
        <p class="error" *ngIf="inputPrice.errors?.['required']">
          Price is required!
        </p>
        <p class="error" *ngIf="inputPrice.errors?.['min']">
          Price has to start from 4 euro minimum!
        </p>
        <p class="error" *ngIf="inputPrice.errors?.['max']">
          Price should not be over 30 euro!
        </p>
      </ng-container>
      <input class="btn submit" [disabled]="form.invalid" type="submit" [style]="{backgroundColor: form.invalid ? '' : 'yellow'}" type="submit" value="EDIT" />
    </div>
  </form>
</section>
