<section class="details-page-section">
  <article class="details-page">
    <article class="details-page-article-header">
      <img src={{pizza?.imageUrl}} alt="img" class="details-img" />
      <article class="info-quantity">
        <h1 class="details-pizza-name">{{pizza?.name}}</h1>
        <article class="details-quantity">
          <h2 class="details-quantity-header">QUANTITY</h2>
          <article>
            <button class="decrease" (click)="changeQuantity(false)">
              -
            </button>
            <h2 class="quantity-heading">{{quantity}}</h2>
            <button class="increase" (click)="changeQuantity(true)">
              +
            </button>
          </article>
        </article>
      </article>
    </article>
    <article class="other-info">
      <article class="details-ingredients">
        <h2 class="ingredients-h2">INGREDIENTS</h2>
        <p class="ingredients-description">{{pizza?.ingredients}}</p>
      </article>

      <article class="details-notes">
        <h2 class="notes-h2">NOTES</h2>
        <p class="notes-description">{{pizza?.notes}}</p>
      </article>
    </article>
    <article class="details-order">
      <h2 class="details-price-order">{{pizza?.price | number: '1.2'}} $</h2>
      <button class="details-btn-order" (click)="addToTheCart()">
        ADD TO THE ORDER
      </button>
      <p class="pizzaP" *ngIf="added">{{pizza?.name}} added to the cart!</p>
    </article>

    <app-likes *ngIf="pizza && pizza?.canBeEdit" [pizzaId]="pizza._id"></app-likes>

    <article class="details-btns-admin" *ngIf="pizza?.canBeEdit && pizza?._ownerId === user._id">
      <a routerLink="../../edit/{{pizza?._id}}" [state]="{pizza: pizza}" class="details-btn-edit">
        EDIT
      </a>
      <button class="details-btn-delete" (click)="deletePizza(pizza)">
        Delete
      </button>
    </article>

  </article>
  <app-comments *ngIf="pizza && pizza?.canBeEdit" [pizzaId]="pizza._id" [userName]="user.username"></app-comments>
</section>

<!-- <Comments/>
ne zabravqi da popravi6 className -->