<section class="home-page">
  <article class="title">
    <h1 class="main-title">
      Welcome lovers of <span class="lovers-pizza">pizza</span>
    </h1>
    <h3 class="subtitle">
      <span class="just-at">...with the first bite </span> ... you'll find
      yourself in Italy
    </h3>
  </article>
  <p class="welcome-btn-paragraph">
    Consult our menu and place your order
  </p>
  <a href="" class="home-prenota">Make Your Order</a>

</section>
<app-home-presentation/>
<app-about-us/>
<app-contacts/>


