<section class="my-pizzas-profile">
  <h1 class="profile-heading">Here are pizzas created by you!</h1>
  <article class="section-article">
    <ul class="my-pizzas-list" *ngFor="let pizza of userPizzas">
      <li>
        <article class="pizze-tradizionali margherita">
          <article class="img">
            <img src={{pizza.imageUrl}} alt="img-margherita" />
          </article>
          <article class="info">
            <h5 class="price">{{pizza.price | number: '1.2'}}$</h5>
            <h3 class="pizza-name">{{pizza.name}}</h3>
            <p class="description">{{pizza.ingredients}}</p>
            <a routerLink="../../catalog/details/{{pizza._id}}">Details</a>
          </article>
        </article>
      </li>
    </ul>
    <p class="no-pizzas-my" *ngIf="userPizzas.length === 0">You haven't created a pizza yet</p>
  </article>
  <div class="add-btn-container">
    <a routerLink="../../catalog/create" class="btn-add">
      + Add Your Pizza
    </a>
  </div>
</section>