.profile-heading {
  text-align: center;
  font-size: 40px;
}

.my-pizzas-profile {
  height: 100vh;
}

.my-pizzas-list {
  list-style: none;
  display: inline-block;
  flex-wrap: wrap;

}

.no-pizzas-my {
  margin: 70px 400px;
  font-size: 75px;
  color: rgb(230, 96, 96);
  text-align: center;
}

.btn-add {
  position: absolute;
  right: 0px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  font-size: 28px;
  cursor: pointer;
  border-color: transparent;
  background-color: rgb(230, 96, 96);
  color: white;
  padding: 10px 20px;
}

.pizze-tradizionali .img img {
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  width: 370px;
  height: 188px;
}

.pizze-tradizionali {
  max-width: 370px;
  max-height: 415px;
  border: 3px solid rgb(180, 176, 176);
  margin: 30px;
  border-radius: 24px;
  position: relative;
}

.pizze-tradizionali .img {
  width: 370px;
  border-radius: 24px;
  padding: 0px;
}

.pizze-tradizionali .img img {
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.pizze-tradizionali .info {
  text-align: center;
  padding: 10px;
  position: relative;
  background-color: beige;
  top: -40px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  height: 220px;
  font-family: cursive;
}
.pizze-tradizionali .description {
  margin-bottom: 40px;
  font-size: 15px;
}
.pizze-tradizionali a {
  display: block;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 8px;
  width: 80px;
  position: absolute;
  bottom: 10px;

  left: 130px;
  color: white;
  font-size: 20px;
  background-color: crimson;
}

.price {
  font-size: 20px;
  margin: 0px;
}

.pizza-name {
  color: crimson;
}
