<section class="menu">
  <ul class="nav-menu">
    <li class="list-item-menu" routerLink="/traditional">
      <a class="link-menu">
        TRADITIONAL PIZZAS
        <i class="fa-solid fa-pizza-slice"></i>
      </a>
    </li>
    <li class="list-item-menu" routerLink="/white">
      <a class="link-menu">
        WHITE PIZZAS
        <i class="fa-solid fa-pizza-slice"></i>
      </a>
    </li>
    <!-- <li class="list-item-menu">
      <a routerLink="/drinks" class="link-menu">
        DRINKS
      </a>
      <i class="fa-solid fa-arrow-right-long"></i>
    </li>
    <li class="list-item-menu">
      <a routerLink="/desserts" class="link-menu">
        DESSERTS
      </a>
      <i class="fa-solid fa-arrow-right-long"></i>
    </li> -->


    <li class="list-item-menu" routerLink="/create">
      <a class="link-menu">
        CREATE YOUR PIZZA
        <i class="fa-solid fa-pizza-slice"></i>
      </a>
    </li>

  </ul>
</section>

<!-- <router-outlet></router-outlet> -->

