@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

.menu {
  height: 80vh;
  background-color: bisque;
}

.nav-menu {
  list-style: none;
  width: 800px;
  // text-align: center;
  position: absolute;
  top: 200px;
  left: 330px;
//  margin-top: 0px;
}

.nav-menu .list-item-menu {
  border: 3px solid gray;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgb(230, 96, 96);
  display: flex;
  justify-content: space-between;

  -webkit-box-shadow: 8px -1px 15px -2px #000000;
  -moz-box-shadow: 8px -1px 15px -2px #000000;
  -o-box-shadow: 8px -1px 15px -2px #000000;
  box-shadow: 8px -1px 15px -2px #000000;
}

.link-menu {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(30, 28, 28);
}

.fa-solid.fa-arrow-right-long {
  font-size: 30px;
}
