<section class="menu">
  <ul class="nav-menu">
    <li class="list-item-menu">
      <a routerLink="/traditional" class="link-menu">
        TRADITIONAL PIZZAS
      </a>
      <i class="fa-solid fa-arrow-right-long"></i>
    </li>
    <li class="list-item-menu">
      <a routerLink="/white" class="link-menu">
        WHITE PIZZAS
      </a>
      <i class="fa-solid fa-arrow-right-long"></i>
    </li>
    <!-- <li class="list-item-menu">
      <a routerLink="/drinks" class="link-menu">
        DRINKS
      </a>
      <i class="fa-solid fa-arrow-right-long"></i>
    </li>
    <li class="list-item-menu">
      <a routerLink="/desserts" class="link-menu">
        DESSERTS
      </a>
      <i class="fa-solid fa-arrow-right-long"></i>
    </li> -->


    <li class="list-item-menu">
      <a routerLink="/create" class="link-menu">
        CREATE YOUR PIZZA
      </a>
      <i class="fa-solid fa-arrow-right-long"></i>
    </li>

  </ul>
</section>

<!-- <router-outlet></router-outlet> -->

