<section class="cart">
  <h1 class="cart-page-heading">PIZZERIA</h1>
  <ng-container *ngIf="!successOrder else success">
    <article class="cart-article">
      <h2 class="cart-article-heading">CART</h2>
      <article class="cart-info-article">
        <ul class="cart-list" *ngFor="let order of cartList">
          <li class="cart-item">
            <article class="quantity-items">
              <p class="counter-item">{{order.quantity}}</p>
              <p class="name-item">{{order.item.name}}</p>
            </article>
            <article class="price-item">
              <p class="price-item">{{order.item.price * order.quantity | number: '1.2'}}$</p>
            </article>
          </li>
        </ul>
        <p class="total-price">
          Total Price: {{totalPrice | number: '1.2'}} $
        </p>

      </article>
    </article>

    <article class="btns-order" *ngIf="cartList.length > 0 else noItem">
      <button class="cancel-order" (click)="deleteOrder()">
        Cancel the order
      </button>
      <button class="place-order" (click)="confirmOrder()">
        Place the order
      </button>
    </article>
    <ng-template #noItem>
      <article class="no-orders">
        <p>No orders at the moment!</p>
      </article>
    </ng-template>
  </ng-container>
  <ng-template #success>
    <section class="successful-order">
      <p>You have successfully placed your order!</p>
    </section>
  </ng-template>
</section>