<section class="menu">
  <ul class="nav-menu">
    <li class="list-item-menu" routerLink="traditional">
      <a class="link-menu">
        TRADITIONAL PIZZAS
        <i class="fa-solid fa-pizza-slice"></i>
      </a>
    </li>
    <li class="list-item-menu" routerLink="white">
      <a class="link-menu">
        WHITE PIZZAS
        <i class="fa-solid fa-pizza-slice"></i>
      </a>
    </li>
    <li class="list-item-menu" routerLink="drinks">
      <a class="link-menu">
        DRINKS
        <i class="fa-solid fa-wine-glass"></i>
      </a>
    </li>
    <li class="list-item-menu"  routerLink="desserts">
      <a class="link-menu">
        DESSERTS
        <i class="fa-solid fa-cake-candles"></i>
      </a>
    </li>

    <li class="list-item-menu" routerLink="create" *ngIf="isLoggedIn">
      <a class="link-menu">
        CREATE YOUR PIZZA
        <i class="fa-solid fa-pizza-slice"></i>
      </a>
    </li>

  </ul>
</section>

<!-- <router-outlet></router-outlet> -->

