<section class="client-section">
  <article class="client-section-title">
    <h1 class="client-section-heading">
      Pizzas created by our clients
    </h1>
    <p class="client-section-subtitle">
      We are so exited to realize that this is not just a dream. Is honer
      for us to make you , our clients, part of our passion. Now, you'll not
      just order a pizza, but you'll be able to create it
      <strong> by your self</strong>.
    </p>
    <p class="client-section-subtitle">
      Share your pizza with others. Become our client.
    </p>
    <p class="client-section-subtitle">
      Make them taste your idea about pizza, and see their reactions!
    </p>
  </article>
  <!-- {pizzas.length > 0 ? -->
  <ul *ngFor="let pizza of clientsPizzas" class="my-pizzas-list">

      <li >
        <article class="pizze-tradizionali margherita">
          <article class="img">
            <img
              src={{pizza.imageUrl}}
              alt="img-margherita"
            />
          </article>
          <article class="info">
              <h5 class="price">{{pizza.price}}$</h5>
            <h3 class="pizza-name">{{pizza.name}}</h3>
            <p class="description">{{pizza.ingredients}}</p>
            <a routerLink="/details/:pizzaId">Details</a>
          </article>
        </article>
      </li>

  </ul> :
<p *ngIf="thereAreNoPizzas" class="no-pizzas">No pizzas yet!</p>
  <!-- {user.email && ( -->
    <div class="add-btn-container">
      <a routerLink="/create" class="btn-add" *ngIf="isLogged">
        + Add Your Pizza
      </a>
    </div>
  <!-- )} -->
</section>

