<section id="login">
  <article class="login-form">
    <h2>Login:</h2>
    <form id="view-login" #form="ngForm" (ngSubmit)="login(form)">
      <label htmlFor="email">
        <i class="fa-solid fa-user"></i>Email:
      </label>

      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your Email"
        #inputEmail="ngModel"
        ngModel
        required
        [appEmail]="appEmailDomains"
      />

      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
        <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">Email is not valid!</p>
      </ng-container>

      <!-- {{form?.errors | json}} -->

      <label htmlFor="password">
        <i class="fa-solid fa-lock"></i>Password:
      </label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your Password"
        #inputPassword="ngModel"
        ngModel
        required
        minlength="5"

      />

      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">Password must be at least {{inputPassword.errors?.['minlength']['requiredLength']}} characters!</p>
      </ng-container>

      <button type="submit" class="login-btn" [disabled]="form.invalid" [style]="{backgroundColor: form.invalid ? '' : 'yellow'}">
        LOGIN
      </button>

    </form>
    <article class="login-links">
      <a routerLink="##" class="link-forgotten">
        Forgotten username/password
      </a>
      <a routerLink="../register" class="create-account">
        Create new account
      </a>
    </article>
  </article>

</section>

