<section id="login">
  <article class="login-form">
    <h2>Login:</h2>
    <form id="view-login" #form="">
      <label htmlFor="email">

        <i class="fa-solid fa-user"></i>Email:
      </label>

      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your Email"


      />
      <label htmlFor="password">
        <i class="fa-solid fa-lock"></i>Password:
      </label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your Password"

      />
      <button type="submit" class="login-btn">
        LOGIN
      </button>

    </form>
    <article class="login-links">
      <a href="##" class="link-forgotten">
        Forgotten username/password
      </a>
      <a href="/register" class="create-account">
        Create new account
      </a>
    </article>
  </article>
</section>

