 <section class="details-page-section">
  <article class="details-page" >
    <article class="details-page-article-header">
      <img src={{pizza?.imageUrl}} alt="img" class="details-img" />
      <article class="info-quantity">
        <h1 class="details-pizza-name">{{pizza?.name}}</h1>
        <article class="details-quantity">
          <h2 class="details-quantity-header">QUANTITY</h2>
          <article>
            <button class="decrease" onClick={decreaseQuantity}>
              -
            </button>
            <h2 class="quantity-heading">{{pizza}}</h2>
            <button class="increase" onClick={increaseQuantity}>
              +
            </button>
          </article>
        </article>
      </article>
    </article>
    <article class="other-info">
      <article class="details-ingredients">
        <h2 class="ingredients-h2">INGREDIENTS</h2>
        <p class="ingredients-description">{{pizza?.ingredients}}</p>
      </article>

      <article class="details-notes">
        <h2 class="notes-h2">NOTES</h2>
        <p class="notes-description">{{pizza?.notes}}</p>
      </article>
    </article>
    <article class="details-order">
      <h2 class="details-price-order">{{pizza?.price}}</h2>
      <button class="details-btn-order" (click)="addToTheCartHandler()">
        ADD TO THE ORDER
      </button>
      <!-- {isAdded && <p class="pizzaP">{pizza.name} added to the cart!</p>} -->
    </article>

    <!-- {pizza.canBeEdit && ( -->
      <article class="details-btns-admin" *ngIf="!isEditMode && !isOwner">
        <!-- {isOwner && -->
          <a routerLink="/edit/:id" class="details-btn-edit" (click)="toggleEditMode()">
            EDIT
          </a>
        <!-- )} -->
        <!-- <Likes/> -->
        <!-- {isOwner && ( -->
          <button routerLink="/delete/:id" class="details-btn-delete" (click)="deletePizza()">
            Delete
          </button>
        <!-- )} -->
      </article>

  </article>
</section>

  <!-- <Comments/>
ne zabravqi da popravi6 className -->
