<!-- <section className="details-page-section">
  <article className="details-page">
    <article className="details-page-article-header">
      <img src={pizza.imageUrl} alt="img" className="details-img" />
      <article className="info-quantity">
        <h1 className="details-pizza-name">{pizza.name}</h1>
        <article className="details-quantity">
          <h2 className="details-quantity-header">QUANTITY</h2>
          <article>
            <button className="decrease" onClick={decreaseQuantity}>
              -
            </button>
            <h2 className="quantity-heading">{quantity}</h2>
            <button className="increase" onClick={increaseQuantity}>
              +
            </button>
          </article>
        </article>
      </article>
    </article>
    <article className="other-info">
      <article className="details-ingredients">
        <h2 className="ingredients-h2">INGREDIENTS</h2>
        <p className="ingredients-description">{pizza.ingredients}</p>
      </article>

      <article className="details-notes">
        <h2 className="notes-h2">NOTES</h2>
        <p className="notes-description">{pizza.notes}</p>
      </article>
    </article>
    <article className="details-order">
      <h2 className="details-price-order">{pizzaPrice.toFixed(2)}$</h2>
      <button className="details-btn-order" onClick={addToTheCartHandler}>
        ADD TO THE ORDER
      </button>
      {isAdded && <p className="pizzaP">{pizza.name} added to the cart!</p>}
    </article>

    {pizza.canBeEdit && (
      <article className="details-btns-admin">
        {isOwner && (
          <Link to={`/edit/${pizza._id}`} className="details-btn-edit">
            EDIT
          </Link>
        )}
        <Likes/>
        {isOwner && (
          <button className="details-btn-delete" onClick={deletePizza}>
            Delete
          </button>
        )}
      </article>
    )}
  </article>

  <Comments/>

</section> -->
