<!-- <section id="edit-editedPizza" className="auth">
  <form id="edit" onSubmit={onSubmit}>
    <div className="container">
      <h1>Edit Your Pizza</h1>
      <label htmlFor="title-editedPizza">Pizza name:</label>
      <input
        type="text"
        id="title-editedPizza"
        name="name"
        placeholder="Enter editedPizza name..."
        defaultValue={editedPizza.name}
      />
      <label htmlFor="editedPizza-img">Image:</label>
      <input
        type="text"
        id="imageUrl"
        name="imageUrl"
        placeholder="Upload a photo..."
        defaultValue={editedPizza.imageUrl}
      />
      <label htmlFor="ingredients">Your Ingredients</label>
      <textarea
        type="text"
        id="ingredients"
        name="ingredients"
        placeholder="Enter your ingredients..."
        rows={30}
        cols={30}
        defaultValue={editedPizza.ingredients}
      />
      <label htmlFor="notes">Notes:</label>
      <textarea
        name="notes"
        id="notes"
        rows={30}
        cols={30}
        defaultValue={editedPizza.notes}
      />
      <label htmlFor="price">Price:</label>
      <input
        type="number"
        id="price"
        name="price"
        min={4}
        max={30}
        placeholder={4}
        defaultValue={editedPizza.price}
      />
      <span>$</span>
      <input className="btn submit" type="submit" value="EDIT" />
    </div>
  </form>
</section> -->
