<h1 class="traditional-pizzas-title">Traditional Pizzas</h1>
<section class="traditional-pizzas">
  <article
    *ngFor="let pizza of traditionalPizzas"
    class="pizze-tradizionali margherita"
  >
    <article class="img">
      <img src="{{ pizza.imageUrl }}" alt="img-margherita" />
    </article>
    <article class="info">
      <h5 class="price">{{ pizza.price }} $</h5>
      <h3 class="pizza-name">{{ pizza.name }}</h3>
      <p class="description">{{ pizza.ingredients }}</p>
      <a routerLink="/details/{{pizza._id}}">Add</a>
    </article>
  </article>

</section>
