<h1 class="desserts-title">DESSERTS</h1>
<section class="desserts">
  <ul class="desserts-list" *ngFor="let dessert of desserts">
    <li>
      <article class="dessert-article">
        <article class="img-dessert">
            <img src={{dessert.imageUrl}} alt="dessert-img" class="dessert-img"/>
        </article>
        <div class="btns-quantity">
          <button class="decrease" (click)="changeQuantity(false, dessert)">
            -
          </button>
          <h2 class="quantity-heading">{{dessert.singleQuantity}}</h2>
          <button class="increase" (click)="changeQuantity(true, dessert)">
            +
          </button>
        </div>
        <article class="info-dessert">
            <h4 class="dessert-price">{{dessert.price | number: '1.2'}} $</h4>
            <h3 class="dessert-name">{{dessert.name}}</h3>
            <p class="description">{{dessert.notes}}</p>
            <button class="add-dessert" (click)="addToTheCart(dessert)">ADD</button>
            <p class="dessertP" *ngIf="dessert.added">{{dessert.name}} added to the cart!</p>
        </article>
      </article>
    </li>
  </ul>
</section>
