<section id="create-pizza" class="auth">
  <form id="create" #form="ngForm" (ngSubmit)="newPizzaSubmitHandler(form)">
    <div class="container">
      <h1>Create Your Pizza</h1>
      <label for="title-pizza">Pizza name:</label>
      <input
        type="text"
        id="title-pizza"
        name="name"
        placeholder="Enter pizza name..."
        value=""
        ngModel
        #inputName="ngModel"
        required
        minlength="3"
      />

      <ng-container *ngIf="inputName.touched">
        <p class="error" *ngIf="inputName.errors?.['required']">Name is required!</p>
        <p class="error" *ngIf="inputName.errors?.['minlength']">Name has to be at least 3 characters long!</p>
      </ng-container>


      <label for="pizza-img">Image:</label>
      <input
        type="text"
        id="imageUrl"
        name="imageUrl"
        placeholder="Upload a photo..."
        value=""
        ngModel
      />
      <label for="ingredients">Your Ingredients</label>
      <textarea ngModel name="ingredients" value="" id="ingredients" type="text" placeholder="Enter your ingredients..."></textarea>


      <label for="notes">Notes:</label>
      <textarea name="notes" id="notes" value="" ngModel></textarea>

      <label for="price">Price:</label>
      <input
        type="number"
        id="price"
        name="price"
        min="{4}"
        max="{30}"
        placeholder="{4}"
        value=""
        ngModel
      />
      <span>$</span>

     <!-- {error && error}  -->
    <input class="btn submit" type="submit" value="CREATE"/>
    </div>
  </form>
</section>
