<section id="create-pizza" class="auth">
  <form id="create">
    <div class="container">
      <h1>Create Your Pizza</h1>
      <label for="title-pizza">Pizza name:</label>
      <input
        type="text"
        id="title-pizza"
        name="name"
        placeholder="Enter pizza name..."
        value=""
      />

      <label for="pizza-img">Image:</label>
      <input
        type="text"
        id="imageUrl"
        name="imageUrl"
        placeholder="Upload a photo..."
        value=""
      />
      <label for="ingredients">Your Ingredients</label>
      <textarea name="ingredients" value="" id="ingredients" type="text" placeholder="Enter your ingredients..."></textarea>


      <label for="notes">Notes:</label>
      <textarea name="notes" id="notes" value=""></textarea>

      <label for="price">Price:</label>
      <input
        type="number"
        id="price"
        name="price"
        min="{4}"
        max="{30}"
        placeholder="{4}"
        value=""
      />
      <span>$</span>

     <!-- {error && error}  -->
    <input class="btn submit" type="submit" value="CREATE"/>
    </div>
  </form>
</section>
