<section id="register">
  <article class="register-form">
    <h2>Create your account:</h2>
    <form id="view-register">
      <label htmlFor="email">
        <i className="fa-solid fa-envelope"></i>Email:
      </label>
      <input type="text" id="email" name="email" placeholder="Email" />
      <label htmlFor="username">
        <i class="fa-solid fa-user"></i>Username:
      </label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your Username"
      />
      <label htmlFor="password">
        <i class="fa-solid fa-lock"></i>Password:
      </label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      <label htmlFor="rePassword">
        <i class="fa-solid fa-repeat"></i>Repeat Password:
      </label>
      <input
        type="password"
        id="rePass"
        name="rePass"
        placeholder="Repeat Password"
      />
      <button type="submit" class="register-btn">Register</button>

      <article class="register-links">
        <a href="/login">Already have an account?</a>
      </article>
    </form>
  </article>
</section>
