<!-- Reactive Form assigned from [formGroup], formGroupName, formControlName -->

<section id="register">
  <article class="register-form">
    <h2>Create your account:</h2>
    <form id="view-register" [formGroup]="form" (ngSubmit)="register()">
      <label html="email"> <i class="fa-solid fa-envelope"></i>Email: </label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Email"
        formControlName="email"
      />

      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
          Email is required!
        </p>
        <p
          class="error"
          *ngIf="form.get('email')?.errors?.['appEmailValidator']"
        >
          Email is not valid!
        </p>
      </ng-container>

      <label html="username"> <i class="fa-solid fa-user"></i>Username: </label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your Username"
        formControlName="username"
      />
      <ng-container *ngIf="form.get('username')?.touched">
        <p class="error" *ngIf="form.get('username')?.errors?.['required']">
          Username is required!
        </p>
        <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
          Username should not be less than 5 characters long!
        </p>
      </ng-container>

      <ng-container formGroupName="passGroup">
        <!-- password -->
        <label html="password">
          <i class="fa-solid fa-lock"></i>Password:
        </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
        <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
          <p
            class="error"
            *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']"
          >
            Password is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"
          >
            Password should not be less than
            {{
            form.get('passGroup')?.get('password')?.errors?.['minlength']?.['requiredLength']
            }}
            characters long!
          </p>
        </ng-container>

        <!-- repeatPassword -->
        <label html="rePassword">
          <i class="fa-solid fa-repeat"></i>Repeat Password:
        </label>
        <input
          type="password"
          id="rePass"
          name="rePass"
          placeholder="Repeat Password"
          formControlName="rePassword"
        />
        <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
          <p
            class="error"
            *ngIf="
            form.get('passGroup')?.errors?.['matchPasswordsValidator'] ||
            form.get('passGroup')?.get('rePassword')?.errors?.['required']"
          >
            Passwords don`t match!
          </p>
        </ng-container>
      </ng-container>

      <button type="submit" class="register-btn" [disabled]="form.invalid" [style]="{backgroundColor: form.invalid ? 'grey' : ''}">Register</button>

      <article class="register-links">
        <a routerLink="/users/login">Already have an account?</a>
      </article>
    </form>
  </article>
</section>

<!-- Define the form model: You start by defining the form model in your Angular component using the FormGroup and FormControl
  classes provided by Angular. This allows you to create a nested structure of form controls that represent each input field in your form.

Bind the form controls to HTML elements: You then bind the form controls to the HTML input elements in your template using the
formControlName directive. This allows Angular to synchronize the values of the form controls with the input fields in real time.

Handle form submission: You can handle form submission using the submit event handler in your template, or by subscribing to the
 valueChanges observable of the form group to react to changes in the form values.

Perform validation: You can perform validation on the form controls to ensure that the input data meets your requirements. Angular
 provides built-in validators such as required, minLength, maxLength, pattern, and custom validators that you can use to validate the
 form controls.

Display error messages: You can display error messages for the form controls that fail validation by checking the validity and error properties of the form controls in your template, and showing error messages accordingly.

Overall, reactive forms in Angular provide a more programmatic and flexible way of managing forms compared to template-driven forms, making them a preferred choice for complex forms and applications. -->
