<section class="contacts">
  <article class="open-hours">
    <h2>WHEN YOU FIND US</h2>
    <ul class="day-of-week">
      <li class="day-li"><strong>MONDAY:</strong>   CLOSE</li>
      <li class="day-li"><strong>TUESDAY:</strong>   15:00 - 22:00</li>
      <li class="day-li"><strong>WEDNESDAY:</strong>   15:00 - 22:00</li>
      <li class="day-li"><strong>THURSDAY:</strong>   15:00 - 22:00</li>
      <li class="day-li"><strong>FRIDAY:</strong>   15:00 - 22:00</li>
      <li class="day-li"><strong>SATURDAY:</strong>   15:00 - 22:00</li>
      <li class="day-li"><strong>SUNDAY:</strong>   15:00 - 22:00</li>
    </ul>
  </article>
  <article class="our-contacts">
  <h2>TO CONTACT US</h2>
  <h4>Pizza is Italy</h4>
  <ul class="day-of-week">
      <li class="day-li">Piazza A. Greppi, 2D</li>
      <li class="day-li">20060 - Cassina de' Pecchi (MI)</li>
      <li class="day-li"> <i class="fa-solid fa-phone"></i>3489555202 - <i class="fa-solid fa-envelope"></i>yourpizzaservice@gmail.com</li>
    </ul>
  </article>
  <article class="seguici">
  <h2>FOLLOW US</h2>

  <ul class="nav-seguici">
     <li class="segici-item"><a href="##"><i class="fa-brands fa-facebook-f"></i></a></li>
     <li class="segici-item"><a href="##"><i class="fa-brands fa-twitter"></i></a></li>
     <li class="segici-item"><a href="##"><i class="fa-brands fa-instagram"></i></a></li>
     <li class="segici-item"><a href="##"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
  </article>
</section>

