@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

.day-of-week{
    list-style: none;

  }
  .day-of-week li{
   margin-bottom: 15px;

  }
  .open-hours h2{
    margin-bottom: 35px;
    color:goldenrod;
  }

  .open-hours{
    text-align: center;
   margin-bottom: 40px;

  }

  .contacts{
    background-color: gray;
    padding-top: 20px ;
    padding-bottom: 20px ;
    position: relative;
    top:-30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .our-contacts{
    text-align: center;
  }
  .our-contacts h2{
    color: goldenrod;
    padding-bottom: 15px;
  }

  .nav-seguici{
    list-style: none;
    display: flex;

  }
  .seguici h2{
    color: goldenrod;

  }
  .nav-seguici li{
  padding-right: 15px;

  }
  .nav-seguici a{
  text-decoration: none;
  color:rgb(65, 62, 62);

  }
